node_modules
vendor
storage
bootstrap/cache
public/build
.git
.gitignore
.env
.venv
docker/.env
*.log
*.dump
*.sql
*.sqlite
tmp
Dockerfile*
docker-compose.yml
docker-compose*.yml
ACAD-TOPO_LAHAN_MUI_BINTAN_shp
rdtr_final_full.json
rdtr_final_full.json.bak
gis_file.dump
gis_file_dev.dump
